.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #007bff;
}

.arrow.prev {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

/* Call-to-Action 버튼 */
.cta-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}